.main-header__logo {
  position: absolute;
  top: 0;
  @include centering-width-pseudo-element;
}

.main-header__button {
  background: url(./../../public/img/icon-menu.svg.svg);
  width: 23px;
  height: 22px;
  margin-left: auto;
  display: block;
  @media (min-width: $tablet__width) {
    display: none;
  }
}

.main-header {
  padding: 17px 20px;
  @media (min-width: $tablet__width) {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.main-header__link {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  text-align: center;
  text-transform: uppercase;

  color: #000000;

  mix-blend-mode: normal;
  text-decoration: none;
  &--active {
    color: #766357;
  }
  @media (max-width: $mobile__max-width) {
    padding: 15px 0;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    display: block;
    width: 100%;
  }
}

.main-header__list {
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
  @media (max-width: $mobile__max-width) {
    position: fixed;
    background-color: #81b3d2;
    width: 100vw;
    top: -50vh;
    left: 0;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    padding: 0;
    transition: 0.5s;
    &.active {
      top: 0;
      transition: 0.5s;
    }
  }
}

.main-header__container {
  display: flex;
  gap: 75px;
  @media (min-width: $desktop__width) {
    gap: 165px;
  }
  @media (max-width: $mobile__max-width) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.main-header__item {
  @media (max-width: $mobile__max-width) {
    box-shadow: 0px 1px 0px 0px rgba(1, 1, 1, 0.20), 0px 1px 0px 0px rgba(255, 255, 255, 0.20) inset;
  }
}

.main-header__close-button {
  @media (max-width: $mobile__max-width) {
    width: 22px;
    height: 22px;
  background: url(./../../public/img/icon-cross.svg) no-repeat;
  position: absolute;
  left: 278px;
  top: 17px;
  }
  @media (min-width: $tablet__width) {
    display: none;
  }
}